.container
{
	border: 1px groove;
	display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position:absolute;
    height: 100%;
    width: 100%;
    
     }
	
.centre
{
	border: 0px solid blue;
    width: 301px;
    height: 306px;
    position: relative;
    }	
.row
{
    border: 0px solid blue;
    width: 306px;
    height: 102px;
    border-collapse: collapse;
    float: left;
    }

.cube
{
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    border-collapse: collapse;
    float: left
    }
 
 .div_eq
 {
    border: 5px groove grey;
    width: 500px;
    height: 405px;;
    margin-left: 440px;
    position: absolute;
    margin-top: 134px;
    padding-left: 20px;
    background-color: #007fb8;
 }
 .row1
 {
    width: 450px;
    height: 25px; 
 }
 span.ip
 {
    margin-left: 101px; 
 }