body
{
   height: 100%;
   width: 100%;
   }

.containerOverall
{
    width: 1364px;
    height : 683px;
    background: url(oavv3DC.jpg);
    background-size: 100% 100%;
    background-repeat:repeat;
    position: relative;
    }
    
.topbar
{
    width : 1364px;
    height: 90px;
    background-color: rgba(24, 22, 25, 0.9);
    }
    
.imgLogo
{
    height : 104px;
    width: 604px;
    float : left;
    cursor: pointer;
    }
    
.navBar
{
    height:60px;
    width: 1343px;
    border: 2px groove grey;
    border-radius: 5px;
    margin-top : 90px;
    background-color : Transparent; 
    }
    
.container1
{
    width: 332px;
    }
    
.loginBlock
{
    height: 235px;
    width: 400px;
    border: 2px groove silver;
    border-radius: 4px;
    background-color: white;
    margin-top: 10%;
    margin-left: 33%;    
    }
    
.linelogin
{    
    margin-top: 19px;
    margin-left: 80px;
    font-family: cursive;
    font-size: large;
    }

.loginSubmit
{
    width: 236px;
    }

.help
{
    margin-top: 10px;
    margin-left: 140px;
    font-size: smaller;
    }
    
.invalid
{
    color: red;
    margin-left: 91px;
    margin-top: 22px;
    display: none;
    }
    
.hideLogin
{
    display : none;
    }
    
.user 
{
    color: #428C22;
    float: right;
    margin-right: 35px;
    font-weight: bold;
    margin-top: 70px;
    }
    
.user a
{
    color: #428C22;
    }
    
.navlook
{
    background-color: rgba(34, 34, 34, 0.73);
    border-color: green;
    display: inherit;
    }
    
.navmargin
{
    margin-left: -529px;
    }
    
.lmsHome
{
    height: 76%;
    width: 100%;
    display: none;       
    }
    
.left
{
    width: 45%;
    height: 92%;
    color : white;
    margin-left: 4%;
    margin-top: 3%;
    font-size:large;
    float: left; 
    }
    
.right
{
    width: 50%;
    height: 100%;
    float: left; 
    }
    
.rightTop
{
    width: 100%;
    height: 25%;
    padding-top: 6%;
    }
    
.rightBottom
{
    margin-left: 20%;
    }
    
.LmsButton
{
    width: 59%;
    margin-left: 20%;
    }
    
.buttonLms{
    background-color: rgba(0, 0, 0, 0.47);
    border-color: green;
    }    
    
.lms_container
{   
    display: inherit;
    height: 76%;
    width: 100%;
    }

.lms_left
{
    height: 100%;
    width: 22%;
    float: left;    
    }
    
.lms_right
{
   height: 87%;
    width: 63%;
    float: left;
    margin-left: 7%;
    display: none;   
    }
    
#myleave
{
    height: 100%;
    width: 99%;
    padding: 1%;
    border: 10px groove;
    border-color: lightslategray;
    float: right;
    color: white;
    background-color: rgba(10, 10, 10, 0.67);
    }
    
.applyleave_container
{
    height: 100%;
    width: 77%;
    float: left;
    margin-left: 1%;
    display: inherit;
    border: 10px groove;
    border-color: lightslategray;
    background-color: rgba(0, 0, 0, 0.47);
    }
    
.applyleave_header
{
    color: white;
    padding-left: 382px;
    }
    
.applycontainerleft
{
    height: 70%;
    width: 60%;
    border: 1px solid white;
    float: left;
    }
    
.applycontainerright
{
    height : 70%;
    width: 40%;
    border: 1px solid white;
    float: left;
    }
    
.row
{
    border: 1px solid white;
    height: 16%;
    margin-left: 0%;
    margin-top: 2%;
    width: 100%;
    font-size: large;
    padding: 2%;
    }
    
label
{
    color: lightcoral;
    }
    
select
{
    float: right;
    margin-right: 43%;
    }